<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()"  *ngIf="!isLoading">
<mat-form-field>
  <label>
    <input matInput type="text" placeholder="post title"   formControlName="title">

  </label>
  <mat-error *ngIf="form.get('title').invalid">Please enter a post title</mat-error>
</mat-form-field>

    <div>
      <button mat-flat-button color="primary" type="button" (click)="filePicker.click()">Choose Image</button>
      <input type = "file" #filePicker (change)="onImagePicker($event)">
    </div>
    <div class = "image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
  <label>
    <textarea matInput rows="4"  placeholder="post content" formControlName="content"></textarea>
  </label>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post content</mat-error>
</mat-form-field>
  <button mat-raised-button
         color="primary" type="submit">save post</button>
  </form>

</mat-card>
