<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <p>{{post.title}}</p>
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>

      <mat-action-row>
        <a mat-button color="accent"  [routerLink]="['/edit',post.id]">EDIT</a>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
      </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="posts.length ==0 && !isLoading" class="info-text mat-body-1"> NO POST YET</p>
